{
  "env": {
    "node": true,
    "mocha": true
  },
  "extends": "airbnb/base",
  "rules": {
    "func-names": 0,
    "prefer-arrow-callback": 0,
    "space-before-function-paren": 0,
    "comma-dangle": 0
  }
}
